{% extends 'form.html' %}
{% load static %}
{% block head_form %}
    <script type="text/javascript" src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>
{% endblock %}

{% block formulario-body %}
    <div class="card-body">
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="selected_vacant_id" value="{{ selected_vacant_id }}">
        <div class="form-row">
            <div class="col form-group">
                <label>Nombre</label>
                {{ form.firstname }}
            </div>
            <div class="col form-group">
                <label>Apellido</label>
                {{ form.lastname }}
            </div>
        </div>

        <div class="form-row">
            <div class="col form-group">
                <label>cedula</label>
                {{ form.cedula }}

            </div>
            <div class="col form-group">
                <label>Fecha de Nacimiento</label>
                {{ form.birthdate }}
            </div>

        </div>

        <div class="form-row">
            <div class="col form-group">
                <label>Genero</label>
                {{ form.gender }}

            </div>
            <div class="col form-group">
                <label>Telefono</label>
                {{ form.phone }}
            </div>

        </div>

        <div class="form-row">
            <div class="col form-group">
                <label>Correo</label>
                {{ form.email }}

            </div>
            <div class="col form-group">
                <label>Dirección</label>
                {{ form.address }}
            </div>

        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $('#birthdate').datetimepicker({
                format: 'YYYY-MM-DD',
                date: moment().format('YYYY-MM-DD'),
                locale: 'es',
            });
        });
    </script>
{% endblock %}