{% extends 'form.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}

{% block formulario-body %}
    <div class="card-body">
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">
        <div class="form-row">
            <div class="col form-group">
                <label>Puesto</label>
                {{ form.posicion }}
            </div>
            <div class="col form-group">
                <label>Salario Maximo</label>
                {{ form.max_salary }}
            </div>

        </div>
        <div class="form-row">

        </div>

        <div class="form-row">
            <div class="col form-group">
                <label>Descripción</label>
                {{ form.description }}
            </div>
            <div class="col form-group">
                <label>Salario Minimo</label>
                {{ form.min_salary }}
            </div>

        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('.select2').select2({
                theme: "bootstrap4",
                language: 'es'
            });
        });
    </script>
{% endblock %}