{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script type="text/javascript" src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-master/spanish.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-master/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/daterangepicker-master/daterangepicker.css' %}"/>
    <script src="{% static 'access_users/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">Número</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha de ingreso</th>
        <th scope="col">Hora de ingreso</th>
        <th scope="col">Dirección ip</th>
        <th scope="col">Eliminar</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}

{% block content_list_before %}
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label>Rangos de fechas:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <div class="input-group-append">
                        <button class="btn btn-success btnSearch" type="button">
                            <i class="fas fa-calendar-check"></i> Buscar por rangos
                        </button>
                        <button class="btn btn-warning btnSearchAll" type="button">
                            <i class="fas fa-calendar-check"></i> Ver todas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block buttons_list %}

{% endblock %}
