{% extends 'form.html' %}

{% load static %}
{% block head_form %}
    {#    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">#}
    {##}
    <script type="text/javascript" src="{% static 'lib/moment-2.25.3/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>



{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('#start_turn').datetimepicker({
                format: 'HH:mm ',
                locale: 'es',
                icons: {
                    time: 'far fa-clock'
                }
            });
        });

        $(function () {
            $('#end_turn').datetimepicker({
                format: 'HH:mm ',
                locale: 'es',
                icons: {
                    time: 'far fa-clock'
                }
            });
        });

    </script>
{% endblock %}
