@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
	padding: 0px ;
	margin: 0px ;
}
body, input, button, label, select, textarea{
	font-family: 'Montserrat', sans-serif ;
	font-size: 14px ;
	color: #282828 ;
}
body{
	background-color: #F2F2F2 ;
}
header{
	display: flex ;
	align-items: center ;
	justify-content: space-between ;
	background-color: #FFFFFF ;
	border-bottom: 1px solid #D9D9D9 ;
	height: 50px ;
	padding: 10px ;
	box-sizing: border-box ;
}
header .logo img{
	height: 30px ;
}
header .btn-actions{
	display: flex ;
	gap: 15px ;
}
header .btn-actions a svg{
	fill: #7F7F7F ;
	width: 16px ;
	height: 16px ;
	transition-property: fill ;
	transition-duration: 0.25s ;
}
header .btn-actions a:hover svg{
	fill: #282828 ;
}
.aside-menu{
	display: block ;
	width: 40px ;
	padding: 10px ;
	box-sizing: border-box ;
	position: absolute ;
	top: 49px ;
	background-color: #FFFFFF ;
	border-right: 1px solid #D9D9D9 ;
}
.aside-menu ul{
	display: flex ;
	align-items: center ;
	justify-content: center ;
	flex-direction: column ;
	min-height: calc( 100vh - 69px) ;
	gap: 12.5px ;
}
.aside-menu ul li{
	list-style: none ;
}
.aside-menu ul li a{
	position: relative ;
	text-decoration: none ;
	color: #282828 ;
}
.aside-menu ul li a svg{
	fill: #7F7F7F ;
	width: 16px ;
	height: 16px ;
	transition-property: fill ;
	transition-duration: 0.25s ;
}
.aside-menu ul li a:hover svg{
	fill: #282828 ;
}
.aside-menu ul li a .alt{
	display: block ;
	position: absolute ;
	top: -5px ;
	left: 30px ;
	border-radius: 20px ;
	background-color: #FFFFFF ;
	padding: 2.5px 10px ;
	visibility: hidden ;
	opacity: 0 ;
	transition-property: visibility, opacity, left ;
	transition-duration: 0.25s ;
}
.aside-menu ul li a:hover .alt{
	left: 35px ;
	visibility: visible ;
	opacity: 1 ;
}
.aside-menu ul li a.active svg{
	fill: #58E37B ;
}

.text-center{
	text-align: center;
}