@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
	padding: 0px ;
	margin: 0px ;
}

body{
	background-color: #F2F2F2 ;
	color: #282828 ;
	font-size: 14px ;
	font-family: 'Montserrat', sans-serif ;
	display: flex ;
	align-items: center ;
	justify-content: center ;
	min-width: 100vw ;
	min-height: 100vh ;
}
input, button, label, select, textarea{
	font-family: 'Montserrat', sans-serif ;
	font-size: 14px ;
	color: #282828 ;
}
.contenedor{
	width: calc(100vw - 40px) ;
	max-width: 400px ;
	border-radius: 2.5px ;
	background-color: #FFFFFF ;
	border: 1px solid #D9D9D9 ;
	padding: 20px ;
	box-sizing: border-box ;
}
.logo img{
	width: 100% ;
	margin-bottom: 10px ;	
}
.box-input{
	background-color: #F2F2F2 ;
	border-radius: 2.5px ;
	display: grid ;
	grid-template-columns: 25px 1fr ;
	margin-bottom: 10px ;
	align-items: center ;
	justify-content: center ;
	padding: 2.5px ;
	box-sizing: border-box ;
}
.box-input .icon{
	display: flex ;
	padding: 7.5px 5px ;
	align-items: center ;
	justify-content: center ;
	border-right: 1px solid #A6A6A6 ;
	transition-property: border-color ;
	transition-duration: 0.25s ;
}
.box-input:hover .icon{
	border-color: #7F7F7F ;
}
.box-input .icon svg{
	width: 100% ;
	fill: #A6A6A6 ;
	transition-property: fill ;
	transition-duration: 0.25s ;
}
.box-input:hover .icon svg{
	fill: #7F7F7F ;
}
.box-input input{
	width: 100% ;
	background-color: #F2F2F2 ;
	color: #282828 ;
	border: 0px ;
	outline: none ;
	padding: 0px 5px 0px 5px ;
	box-sizing: border-box ;
}
.box-input input::placeholder{
	color: #A6A6A6 ;
}
.box-input:hover input::placeholder{
	color: #7F7F7F ;
}
.box-input input:-webkit-autofill,
.box-input input:-webkit-autofill:hover, 
.box-input input:-webkit-autofill:focus, 
.box-input input:-webkit-autofill:active{
	-webkit-box-shadow: 0 0 0 30px #F2F2F2 inset !important;
}
.separate-grid{
	display: flex ;
	align-items: center ;
	justify-content: space-between ;
}
.box-check{
	display: flex ;
	align-items: center ;
	gap: 5px ;
}
.box-check label{
	font-size: 12px ;
}
.btn-login{
	padding: 5px 10px 5px 10px ;
	border-radius: 2.5px ;
	border: 0px ;
	background-color: #02B82F ;
	color: #F2F2F2 ;
	transition-property: background-color ;
	transition-duration: 0.25s ;
}
.btn-login:hover{
	cursor: pointer ;
	background-color: #02A028 ;
}
.forget-password{
	margin-top: 10px ;
	display: block ;
	width: 100% ;
	text-align: center ;
	font-size: 12px ;
	color: #A6A6A6 ;
	text-decoration: none ;
	transition-property: color ;
	transition-duration: 0.25s ;
}
.forget-password:hover{
	color: #7F7F7F ;
}
.copyright{
	font-size: 12px ;
	color: #7F7F7F ;
	position: absolute ;
	bottom: 20px ;
	display: block ;
	width: 100% ;
	text-align: center ;
}