{% extends 'form.html' %}
{% load static %}

{% block head %}

       <link rel="stylesheet" href="{% static 'lib/formvalidation-1.9.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.9.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/locales/es_ES.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'lib/moment-2.25.3/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script type="text/javascript"src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>


    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'salary/form.js' %}"></script>
{% endblock %}
{% block formulario-body %}

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>{{ form.year_month.label }}:</label>
                <div class="input-group mb-3">
                    {{ form.year_month }}
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-flat btnSearch" type="button">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="form-group">
                <label>{{ form.employee.label }}</label>
                {{ form.employee }}
            </div>
        </div>
    </div>

    <table style="width:100%;" class="table table-bordered table-sm" id="tblHeadings">
        <thead>
        <tr>
            <th>Empleado</th>
            {% for heading in assets %}
                {% if heading.has_quantity %}
                    <th>Cantidad</th>
                {% endif %}
                <th>{{ heading.name }}</th>
            {% endfor %}
            <th>Subtotal</th>
            {% for heading in discounts %}
                {% if heading.has_quantity %}
                    <th>Cantidad</th>
                {% endif %}
                <th>{{ heading.name }}</th>
            {% endfor %}
            <th>Subtotal</th>
            <th>Total a cobrar</th>
        </tr>
        </thead>
    </table>

{% endblock %}
