{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.9.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.9.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/locales/es_ES.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'lib/moment-2.25.3/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>
    <script type="text/javascript" src="{% static 'salary/list.js' %}"></script>
{% endblock %}
{% block content_list_before %}
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>{{ form.year.label }}:</label>
                <div class="input-group">
                    {{ form.year }}
                    <div class="input-group-append">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-align-justify"></i> Opciones
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item btnSearch">Buscar</button>
{#                            <a class="dropdown-item btnExportSalariesPdf">Exportar a pdf</a>#}
                            <button class="dropdown-item btnExportSalariesExcel">Exportar a excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>{{ form.month.label }}:</label>
                {{ form.month }}
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <label>{{ form.employee.label }}:</label>
                {{ form.employee }}
            </div>
        </div>
    </div>
    <hr>
    <div class="modal fade" id="myModalSalary" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        <i class="fas fa-dollar-sign"></i> Detalle de Salario
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table style="width:100%;" class="table table-bordered table-sm" id="tblHeadings">
                        <thead>
                        <tr>
                            <th style="width: 40%;">Concepto</th>
                            <th style="width: 20%;">Unidad</th>
                            <th style="width: 20%;">Ingreso</th>
                            <th style="width: 20%;">Descuento</th>
                        </tr>
                        </thead>
                    </table>
                </div>
{#                <div class="modal-footer">#}
{#                    <a class="btn btn-danger btn-flat btn-block btnPrintReceiptEmployee">#}
{#                        <i class="fas fa-file-alt"></i> Imprimir recibo#}
{#                    </a>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block columns %}
    <th>Cod-Empleado</th>
    <th>Empleado</th>
    <th>cedula</th>
    <th>Año</th>
    <th>Mes</th>
    <th>Ingresos</th>
    <th>Descuentos</th>
    <th>Total a recibir</th>
    <th>Opciones</th>
{% endblock %}

{% block rows %}

{% endblock %}