{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'seleccionados/list.js' %}"></script>
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}
{% block buttons_list %}

    <a href="#" class="btn btn-primary btn-flat btnAdd">
        <i class="fas fa-plus"></i> Crea un aplicante
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat">
        <i class="fas fa-sync"></i> Actualizar
    </a>
{% endblock %}
{% block columns %}

    <tr>
        <th scope="col" style="width: 14.2%;">Nro</th>
        <th scope="col" style="width: 14.2%;">Candidato</th>
        <th scope="col" style="width: 14.2%;">Telefono</th>
        <th scope="col" style="width:14.2%;">Vacante</th>
        <th scope="col" style="width:14.2%;">Salario Minimo</th>
        <th scope="col" style="width:14.2%;">Salario Maximo</th>
        <th scope="col" style="width: 14.2%;">Opciones</th>
    </tr>

{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

    <!-- Modal -->
    <div class="modal fade" id="MyModalTurn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" action="." enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabelTurn"><i class="fas fa-plus"></i><span> </span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" id="id" name="id" value="0">
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label for="email">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-save mr-2"></i>Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <script type="application/javascript">
        $(function () {
            $('.select2').select2({
                theme: "bootstrap4",
                language: 'es'
            });
        });
    </script>
{% endblock %}