{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'empleado/list.js' %}"></script>

{% endblock %}

{% block buttons_list %}
    <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
        <i class="fas fa-plus"></i> Crea un nuevo empleado
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat">
        <i class="fas fa-sync"></i> Actualizar
    </a>
    <a href="#" class="btn btn-info btn-flat generar_report">
        <i class="fas fa-file-archive"></i> Generar Reportes
    </a>
{% endblock %}


{% block columns %}

    <tr>
        <th scope="col" style="width: 10%;">Fecha de contratación</th>
        <th scope="col" style="width: 5%;">Cod-Empleado</th>
        <th scope="col" style="width: 10%;">Nombre</th>
        <th scope="col" style="width: 12.5%;">Departamento</th>
        <th scope="col" style="width: 12.5%;">Puesto</th>
        <th scope="col" style="width: 10%;">Horario</th>
        <th scope="col" style="width: 10%;">Salario</th>
        <th scope="col" style="width: 10%;">Estado</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>

{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}
    <div class="modal fade" id="ModalSelectReport" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        <i class="fas fa-file-pdf"></i> Selecciona el tipo de reporte
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="get" action="{% url 'erp:generar_informe_empleados' %}" target="_blank">
                        <select name="estado" class="form-control select2">
                            <option value="" disabled>---------</option>
                            {% for estado in estados %}
                                <option value="{{ estado }}">{{ estado }}</option>
                            {% endfor %}
                        </select>
                    <br>
                        <button type="submit" class="btn btn-primary">Generar Informe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}