{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="contenedor">
     <div class="logo">
        <img src="{% static 'img/logo.png' %}">
    </div>
   <p class="login-box-msg">Reseteo de Contraseña</p>
        <form action="." method="post">
            {% csrf_token %}
            <div class="box-input">
                <p class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path>
                    </svg>
                </p>

                {{ form.username }}
            </div>

            <div class="separate-grid">

                    <div class="col-lg-12">
                        <button type="submit" class="btn-blocked btn-login ">
                            <i class="fas fa-envelope"></i> Enviar
                        </button>
                    </div>


            </div>

            <a href="{% url 'login' %}" class="forget-password">Retroceder al inicio de sesion </a>
        </form>


    </div>

    <p class="copyright">&copy;A&J Company INC</p>
    <script type="application/javascript">

        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
    </script>

{% endblock %}