{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="contenedor">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}">
        </div>
        <p class="login-box-msgC">Reseteo de Contraseña</p>
        <form action="." method="post">
            {% csrf_token %}
            <div class="box-input ">

                <i class=" icon     fas fa-user"></i>
                {{ form.username }}
            </div>

            <div class="separate-grid">

                <div class="col-lg-12">
                    <button type="submit" class="btn-blocked btn-login ">
                        <i class="fas fa-envelope"></i> Enviar
                    </button>
                </div>
            </div>

            <a href="{% url 'login' %}" class="forget-password">Retroceder al inicio de sesion </a>
        </form>
    </div>
    <p class="copyright">&copy;A&J Company INC</p>
    <script type="application/javascript">
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                let parameters = new FormData(this);
                submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de resetear tu contraseña', parameters, () => {
                    Swal.fire({
                        title: 'Alerta!',
                        text: 'Se ha enviado un correo electronico con instrucciones a seguir Por favor revisalo!',
                        icon: 'success',
                        timer: 5000,
                        onClose: () => {
                            location.href = '/';
                        }
                    });
                });
            })
        })
    </script>

{% endblock %}