{% extends 'basic.html' %}
{% block body %}
    <body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">
        <!-- Header -->
        {% include 'includes/navbar.html' %}
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- Content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> <small>{{ request.user.get_full_name }}</small></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">#</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        {% include 'includes/footer.html' %}
    </div>
    </body>
{% endblock %}

