{% extends 'body.html' %}
{% load static %}
{% block head %}


    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.9.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.9.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/locales/es_ES.min.js' %}"></script>

    {% block head_form %}
        <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
        <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
        <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

    {% endblock %}

{% endblock %}
{% block content %}
    <form method="post" action="." id="frmForm" data-url="{{ list_url }}">
        <input type="hidden" name="action" value="{{ action }}">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>

            <div class="card-body">
                {% csrf_token %}
                {% block formulario-body %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="email">{{ field.label }}:</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>



    <script>
        {% if form.errors %}
            let errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        {% if action == 'add' %}
            $('form').on('submit', function (e) {
                e.preventDefault();
                let parameters = new FormData(this);
                submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, () => {
                    Swal.fire({
                        title: 'Alerta!',
                        text: 'Registro agregado correctamente!',
                        icon: 'success',
                        timer: 1200,
                        onClose: () => {
                            location.href = '{{ list_url }}';
                        }
                    });
                });
            });
        {% else %}
            $('form').on('submit', function (e) {
                e.preventDefault();
                let parameters = new FormData(this);
                submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, () => {
                    Swal.fire({
                        title: 'Alerta!',
                        text: 'Registro actualizado correctamente!',
                        icon: 'success',
                        timer: 2000,
                        onClose: () => {
                            location.href = '{{ list_url }}';
                        }
                    });
                });
            });
        {% endif %}
    </script>
{% endblock %}