{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="#" class="brand-link">
        <img src="{% static 'img/favicon.ico' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle "
             style="opacity: .8">
        <span class="brand-text font-weight-light">Human Recruiter</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
{#                <img src="#" class="img-circle" alt="User Image">#}
            </div>
            <div class="info">
                <a href="#" class="d-block">Nombre Usuario</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Funcionamientos</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                       <i class="nav-icon fas fa-users"></i>
                        <p>
                            Empleados
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-plane-departure"></i>
                        <p>
                            Vacaciones
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar-day"></i>
                        <p>
                            Horarios
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-suitcase"></i>
                        <p>
                            Vacantes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                       <i class=" nav-icon  fas fa-clock"></i>
                        <p>
                            Asistencias
                        </p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link">
                       <i class=" nav-icon  fas fa-file-contract"></i>
                        <p>
                            Reportes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>