{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'departaments/list.js' %}"></script>

{% endblock %}

{% block buttons_list %}
    <a href="#" class="btn btn-primary btn-flat btnAdd">
        <i class="fas fa-plus"></i> Crea un departamento
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat">
        <i class="fas fa-sync"></i> Actualizar
    </a>
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 15%;">Nro</th>
        <th scope="col" style="width: 25%;">Nombre</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}


{% block javascript %}
    <!-- Modal -->
    <div class="modal fade" id="MyModalDepartament" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form method="post" action="." enctype="multipart/form-data" onsubmit="return true;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabelTurn"><i class="fas fa-search">   </i><span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" id="id" name="id" value="0">
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label for="email">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-save mr-2"></i>Guardar
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}




