{% extends 'form.html' %}
{% load rrhh_extras %}

{% block formulario-body %}
    {% for fields in form|split_form_fields:2 %}
        <div class="row g-3">
            {% for field in fields %}
                <div class="col">
                    <div class="form-group">
                        <label for="{{ field.label }}">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}